@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #12071f;
    color: white;
}

.header-title {
    align-self: center;
    font-size: 35px;
    font-weight: bold;
    white-space: nowrap;
    color: rgba(182, 109, 255, 0.8);
    text-shadow: 1px 0.5px 1px #5d3a81cc, 1px 1px 1px #5d3a81cc,
        1px 1.5px 1px #5d3a81cc, 1px 2px 1px #5d3a81cc, 1px 2.5px 1px #5d3a81cc,
        1px 3px 1px #5d3a81cc, 1px 3.5px 1px #5d3a81cc, 1px 4px 1px #5d3a81cc,
        1px 9px 6px rgba(16, 16, 16, 0.4), 1px 10px 10px rgba(16, 16, 16, 0.2),
        1px 12px 35px rgba(16, 16, 16, 0.2), 1px 13px 60px rgba(16, 16, 16, 0.4);
}

.loader {
    position: relative;
    width: 85px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#fff 50px, transparent 0),
        linear-gradient(#fff 50px, transparent 0),
        linear-gradient(#fff 50px, transparent 0),
        linear-gradient(#fff 50px, transparent 0),
        linear-gradient(#fff 50px, transparent 0),
        linear-gradient(#fff 50px, transparent 0);
    background-position: 0px center, 15px center, 30px center, 45px center,
        60px center, 75px center, 90px center;
    animation: rikSpikeRoll 0.65s linear infinite alternate;
}
@keyframes rikSpikeRoll {
    0% {
        background-size: 10px 3px;
    }
    16% {
        background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px,
            10px 3px;
    }
    33% {
        background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px,
            10px 3px;
    }
    50% {
        background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px,
            10px 3px;
    }
    66% {
        background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px,
            10px 3px;
    }
    83% {
        background-size: 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px,
            10px 3px;
    }
    100% {
        background-size: 10px 3px, 10px 3px, 10px 3px, 10px 10px, 10px 30px,
            10px 50px;
    }
}
